.main-footer {
max-width: 1000px;
filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
margin-top:50px;
}


.brand img {
    margin-left: -28px;
    margin-top: -20px;
}


.main-footer a {
text-decoration: none;
font-family: Merienda;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 17px;
color: #000000;
}