 .app-info {
position: relative;
height: 847px; 
background: url('../app-info/coffee-shop.png');
/* background-attachment: fixed; */
background-repeat: no-repeat;
color:#fff;
} 



.app-info .brand {
font-family: 'Merienda', cursive;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 17px;
color:#fff;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-left: 120px;

}

.brand img {
    position: absolute;
    margin-top: -28px;
    margin-left: -28px;
   
}

.app-info .brand:hover{
    color:#fff;
}
.app-info .brand:visited{
    color:#fff;
}

.app-info .navbar .nav-link {
font-family: 'Merienda', cursive;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 2px;
color:#fff;
text-align: center; 
display: inline-block;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 15px;
} 

.app-info .navbar .nav-link:hover{
    color: white;
}

.app-info .navbar .nav-link:visited{
    color: white;
}


.app-info .text {
font-family: 'Merienda', cursive;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 17px;
color:#fff;
display: inline-block;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-right: 100px;
}